{% extends 'base.html' %}

{% block content %}

    {% if message %}
        <div class=""><p>{{ message }}</p></div>
    {% endif %}
    <div>
        <table class="table table-hover"  id= "post_table">
            <thead>
            <tr>
                <th><span id="cdate" onclick="sortTable(0)"> Created Date </span></th>
                <th><span id="course" onclick="sortTable(1)">Course</span></th>
                <th><span id="username" onclick="sortTable(2)">User Name</span></th>
                <th><span id="year" onclick="sortTable(3)">Year</span></th>
                <th><span id="name" onclick="sortTable(4)">Name</span></th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>
            {% for pair in posts %}
                <tr>
                <td>{{ pair.post.created_at }}</td>
                <td>{{ pair.post.course_name }} {{ pair.post.course_number }}</td>
                <td>{{ pair.author.user.get_username }}</td>
                <td>{{ pair.author.get_year_level_display }}</td>
                <td>{{ pair.author.user.get_full_name }}</td>
                <td>
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'post_detail' pk=pair.post.pk %}"> Detail </a>
                    {% else %}
                        <a onclick="popLogin()">Detail</a>
                    {% endif %}

                </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="needLogin" class="needLogin">

    </div>

{#    TODO: This part should be discussed#}
    {% if not request.user.is_authenticated %}
    <div id="myModalLogin" class="modal fade" role="dialog">
            <div class = "modal-dialog">
                  <div class="modal-content login">
                      <div class = "modal-body">

                         <div class = "login-panel panel">
                            <div class = "panel-heading">
                                <h3 class = "panel-title modal-login"> Sign In to Continue </h3>
                            </div>
                            <div class = "panel-body">

                              <form action="{% url 'login' %}" method="post" class = "modal-login">
                                {% csrf_token %}
                                <table>
                                    <tr> <td> <label for = "id_username">
                                        Username: </label> </td></tr>

                                    <tr> <td><input type = "text" name = "username" required id = "id_username"></td></tr>

                                    <tr> <td> <label for ="id_password"> Password: </label></td></tr>

                                    <tr><td><input type = "password" name = "password" required id = "id_password"> </td></tr>

                                </table>

                                </br>
                                <div class="btn-modal-login">
                                 <input class="btn btn-success btn-sm " id = "modalbutton" type="submit" value="login" />

                                 </div >

                                <a href="{% url 'register' %}" class="btn btn-modal-register "> Register </a>

                                     <input type="hidden" name="next" value="{{ next }}" />

                                </form>



                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>
    {% endif %}



{% endblock %}